
.login-container{
    min-height: 100vh;
}
.li-item {
    text-decoration: none;
    list-style: none;
    color: white;
    padding: 0px 8px;
    text-transform: capitalize;
    text-size-adjust: 9px;

}

.navbar {
    height: 72px;
}

.blog-footer {
    color: aliceblue;
    display: flex;
    flex-direction: column;

    text-align: center;
    position: relative;
    bottom: 0;
    display: block;
    width: 100%;
    overflow-x: hidden;
     
}

img,
svg {
    vertical-align: middle;
    height: 37px;
}

.form1 {
    margin-bottom: 1rem !important;
    flex-flow: column;
    width: max-content;
    margin-top: 23px;
}

.image img {
    width: 100%;
    height: 85%;
}

.mail1 {
    margin-top: 15px;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 30%, rgba(0, 212, 255, 1) 68%);
    color: aliceblue;
    text-transform: capitalize;
}

#btn1 {
    margin-top: 8px;
}

.logo img {
    margin-left: 15px;
}

.prvtitm {
    margin-left: 20px;
}

/*.............................................. Login........................................... */
.login-container {
    margin-top: 5%;
    margin-bottom: 5%;
}

.login-form-1 {
    padding: 5%;
    width: 42% !important;
    margin-left: 27%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);

}

.login-form-1 h3 {
    text-align: center;
    color: #333;
}

.btnSubmit {
    width: 21%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}

.login-form-1 .btnSubmit {
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
}

.login-form-1 .ForgetPwd {
    color: #0062cc;
    font-weight: 600;
    text-decoration: none;
}

.form-control {
    margin: 8px;
}

#nav-right {
    margin-left: 85%;
}

.nameprf {
    text-transform: uppercase;
    font-weight: 500;
}
.search-box{
    width: 242px;
    margin: 22px;
    height: 40px;
    border: 2px solid;
    border-radius: 8px;
    float: right;
}
.search-box:hover{
    box-shadow: 0px 3px 20px 3px #41464b;
}